<div class="mb-3">
    <label for="sort" class="form-label" >Sort by</label>
    <select name="sort" id="sort" class="form-control">
        <option value="">Default</option>
        <option value="name|asc" <%- query.sort === 'name|asc' ? 'selected' : '' %>>
            A-Z
        </option>
        <option value="name|desc" <%- query.sort === 'name|desc' ? 'selected' : '' %>>
            Z-A
        </option>
        <option value="employeesCount|asc" <%- query.sort === 'employeesCount|asc' ? 'selected' : '' %>>
            Employees (asceding)
        </option>
        <option value="employeesCount|desc" <%- query.sort === 'employeesCount|desc' ? 'selected' : '' %>>
            Employees (descending)
        </option>
    </select>
</div>


<div class="mb-3">
    <label for="countmin" class="form-label">Employees number (min)</label>
    <input type="number" value="<%- query.countmin %>" class="form-control" id="countmin" name="countmin">
</div>

<div class="mb-3">
    <label for="countmax" class="form-label">Employees number (max)</label>
    <input type="number" value="<%- query.countmax %>" class="form-control" id="countmax" name="countmax">
</div>

<button class="btn btn-primary mt-3">Apply</button>
