<h1>Companies list:</h1>

<form>

    <% if (user) { %>
        <a href="/admin/firmy/dodaj" class="btn btn-success">Add new company</a>
    <% } %>
    <a href="/csv" class="btn-info">Download CSV</a>

    <%- include('partials/search') %>

    <div class="row">
        <div class="col-3">
            <%- include('partials/filters') %>
        </div>

        <div class="col-9">
            <% companies.forEach(company => { %>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img src="/uploads/<%- company.image%>" class="img-fluid" alt="">
                            </div>
                            <div class="col-9">
                                <p class="h3 mb-4"><%= company.name %></p>
                                <p>Employees: <%= company.employeesCount %></p>
                                <p>Contact: <%= company.user?.email %></p>
                                <p>CEO: <%= company.user?.fullName %></p>
                                <a href="/firmy/<%= company.slug %>" class="btn btn-primary">See details</a>
                                <% if (user){ %>
                                    <a href="/admin/firmy/<%= company.slug %>/edytuj" class="btn btn-warning">Edit</a>
                                    <a href="/admin/firmy/<%= company.slug %>/usun" 
                                        onClick="return confirm('Czy jesteś pewny?')" 
                                        class="btn btn-danger">Delete</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/pagination') %>

</form>